.root {
  width: 350px;
  border-radius: 5px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 5px #2f3640, -2px 1px 5px #2f3640;
}

.deleteIcon {
  color: #130f40;
  cursor: pointer;
}

.deleteIcon:hover {
  transform: scale(1.2);
}

.deleteIcon:active {
  transform: scale(1);
}


.accept {
    background-color: #1dd1a1;
    color: #30336b;
} 
.warning {
    background-color: #f39c12;
    color: #535c68;
} 
.info {
    background-color: #3498db;
    color: #fdcb6e;
  };
.danger {
    background-color: #e74c3c;
    color: #f7f1e3;
    font-weight: bold;
  };

